[class^="oi-"]:before, [class*=" oi-"]:before {
	display: inline!important;
	width: auto!important;
	line-height: 1!important;
	margin: 0!important;
}

:root {
	--total-width: 350px;
	--num-items: 4;
	--visible-width: 15px;
	--actual-width: calc(var(--total-width) - (var(--num-items) - 1) * var(--visible-width));
	--color-one: #706c6d;
	--color-two: #5f5f5f;
	--color-three: #424142;
	--color-four: #3e3d3e;
	--alt-one: #252525;
	--alt-two: #c3c1c2
}

@-webkit-keyframes fadein {from {opacity:0;} to {opacity:1;}}
@keyframes fadein {from {opacity:0;} to {opacity:1;}}

@-webkit-keyframes line {
	0% {background-color:var(--color-one);}
	50% {background-color:var(--color-four);}
	100% {background-color:var(--alt-two);}
}

@keyframes line {
	0% {background-color:var(--color-one);}
	50% {background-color:var(--color-four);}
	100% {background-color:var(--alt-two);}
}

@-webkit-keyframes grad {
	0% {background-position:0% 50%;}
	50% {background-position:500% 50%;}
	100% {background-position:1000% 50%;}
}

@keyframes grad {
	0% {background-position:0% 50%;}
	50% {background-position:500% 50%;}
	100% {background-position:1000% 50%;}
}
 
::-webkit-scrollbar-corner {background:#0c0c0c;}
 
::-webkit-scrollbar {
    height:0px;
    width:0px;
    background:#0c0c0c;
}
 
::-webkit-scrollbar-thumb {
    background:var(--alt-one);
    border:3px solid transparent;
    background-clip:padding-box;
    border-radius:10px;
}
 

::selection {
    color:#eaeaea; 
    background:var(--color-one);
}

::-moz-selection {
    color:#eaeaea; 
    background:var(--color-one);
}

::-webkit-selection {
    color:#eaeaea; 
    background:var(--color-one);
}

 
.ui-tooltip {
    position:absolute;
    z-index:214748364789;
}
 
.ui-tooltip-content {
    margin:5px 25px;
    max-width:300px;
    padding:5px 8px;
    text-transform:uppercase;
    background:var(--color-four);
    font:10px/150% "Public Sans",sans-serif;
    letter-spacing:1px;
    color:#eaeaea;
}

html, body {
    height:100%; 
    margin:0;
    padding:0; 
    width:100%;
}
 
body {
    background-image:url('https://64.media.tumblr.com/ceb507ab56844ec5f5617570abf720b5/e2b349b6477362fc-19/s2048x3072/fafd64bbb9982bb49df0534013ad885f5a255ac6.png');  /* aqui va el link del fondo */
    background-repeat:repeat;
    background-color:#0c0c0c;
    background-attachment:fixed;
    word-wrap:break-word;
    overflow:auto;
    margin:0px;
    color:#aaaaaa;
    font:normal 14px/170% 'Public Sans', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
 
a {
    text-decoration:none;
    color:#eaeaea;
    transition:0.3s ease-in-out;
}
 
a:hover {
    color:var(--color-four);
}

i, italic, em {
    font-style:italic;
}

b, bold, strong {
    font-weight:700;
}

img {border:none;}

h1, h2, h3 {
    font:17px "Philosopher",serif;
	color:#eaeaea;
}

small,sub,sup {
    font-size:12px;
    line-height:170%;
}

big {
    font-size:15px;
}

blockquote img {
    max-width:100%!important;
    height:auto!important;
}
 
blockquote {
    margin:10px;
    margin-right:0px;
    display:block;
    border-left:3px solid var(--alt-one);
    padding-left:20px;
}
 
pre, code {
    font:12px consolas, monospace;
    background:#0c0c0c;
    letter-spacing:0px;
    padding:10px;
    display:block;
    border-radius:0px;
}
 
hr {
    border:0px solid transparent;
    color:var(--alt-two);
    background:var(--alt-two);
    background-image:linear-gradient(to right, var(--color-one) 25%, var(--color-two) 25%, var(--color-two) 50%, var(--color-three) 50%, var(--color-three) 75%, var(--color-four) 75%);
    width:100%; 
    height:1px;
    padding:0 10px;
    margin:1em -10px;
}

u,underline {
    text-decoration:none; 
    border-bottom:1px solid var(--alt-two);
}
 
ol {counter-reset:ordered;}

ol li, ul li {
    list-style:none; 
    margin-left:0px; 
    display:block;
    position:relative;
}
 
ol:not(.notes) li::before {
    content:counter(ordered, decimal-leading-zero);
    counter-increment:ordered;
    position:absolute;
    margin-left:-5px;
    color:var(--alt-one);
    -webkit-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
}
 
ul li::before {
    content:"";
    display:block;
    position:absolute;
    height:3px;
    width:3px;
    margin-top:11px;
    background:var(--alt-one);
    margin-left:-7px;
    -webkit-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
}

main {
    padding-left:calc(var(--total-width) + 150px);
    margin:250px auto;
    width:450px;
    -webkit-animation:fadein 1s;
    animation:fadein 1s;
}


 
.container,.tcontain {
    position:relative;
}

.text {margin-top:5px;}
.pcontain {position:relative;}

.text a, 
.desc a,
.stat a,
.upd a {
    padding-bottom:2px;
    background: linear-gradient(
        to right, 
        var(--color-four) calc(50% - 3px), 
        rgba(126,126,126,0) calc(50% - 3px), 
        rgba(3,0,20,0) calc(50% + 3px), 
        var(--alt-two) calc(50% + 3px)
    );
    background-size: calc(200% + 6px) 3px;
    background-position: right bottom;
    background-repeat: no-repeat;
    transition:0.6s ease;
}

.text a:hover,
.desc a:hover,
.stat a:hover,
.upd a:hover {
  background-position: left bottom;
}
 
.text figure {text-align:center;}
.text figure img {margin:0 auto;}


 serif;
    background:#1a1a1a;
    padding:20px;
}

.indextags {
    font-size:12px;
    margin-top:5px;
    padding:5px 10px 10px;
    background:#1a1a1a;
    display:none;
}

.indextags a {
    padding:3px 5px;
    display:inline-block;
    font-size:12px;
    line-height:15px;
    color:#aaaaaa;
    margin:5px 5px 0 0;
}

#sidebar {
	width: var(--total-width);
	padding: var(--visible-width);
	position: fixed;
	top: 50%;
	margin-top:-160px;
	margin-left:calc(50px - var(--total-width));
}

.ia-container figure.one {background:var(--color-one);}
.ia-container figure.two {background:var(--color-two);}
.ia-container figure.three {background:var(--color-three);}
.ia-container figure.four {background:var(--color-four);}

.ia-container {
	width: var(--total-width);
	overflow: hidden;
	position: relative;
	border: 2px solid transparent;
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: var(--visible-width); 
	width: var(--actual-width);
    box-shadow: 0 0 0 1px #0c0c0c;
    transition: all 0.3s ease-in-out;
	margin: 0;
	height: 360px;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
}

.ia-container input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--visible-width); 
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ia-container input:checked{
	width: 5px;
	right: 0px;
	left: auto;
}

.ia-container input:checked ~ figure {
    left: var(--actual-width);
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(12,12,12,0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
	padding: calc(var(--visible-width)/2);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.ia-container figcaption > div, .ia-container figcaption > form {
    opacity: 0;
	color: #aaaaaa;
	position: relative;
} 

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
	background: rgba(12,12,12,0);
}

.ia-container input:checked + figcaption > div,
.ia-container input:checked + figcaption > form {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
}

.ia-container input:checked + figcaption.main > img {
    width:calc(var(--actual-width) - var(--visible-width));
    height:350px;
}

.ia-container #ia-selector-last:checked + figcaption div {
	transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
	background: rgba(12,12,12,0.3);
}

.ia-container input:checked ~ figure input[type="radio"] {
    z-index: 1;
}

.one > figcaption.main img {
	position: absolute;
	object-fit: cover;
	transition: 0.3s ease-in-out;
    width:calc(var(--actual-width) - 2*var(--visible-width));
    height:345px;
}

.one > figcaption.main {
	justify-content: center;
}

.one > figcaption.main div h1 {
	font: bold 12px/20px "Philosopher",serif;
	background: rgba(30,30,30, 0.36);
	border: 1px solid rgba(30,30,30, 0.2);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	text-shadow: 1px 1px 1px rgba(30,30,30, 0.2);
	margin: calc(var(--visible-width)/2);
	padding: calc(var(--visible-width)/2);
	color: #eaeaea;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	z-index: 3;
	position: relative;
	word-break:break-word;
}

.two > figcaption > div {
	font-size: 12px;
	line-height: 150%;
	text-align: justify;
	max-height: 100%;
	overflow: auto;
}

.two .desc {
	padding:var(--visible-width);
	background: #0c0c0c;
	color: #aaaaaa;
	margin:calc(var(--visible-width)/4) 0;
}

.two .updt {
	padding: calc(var(--visible-width)/2);
	margin:calc(var(--visible-width)/4) 0;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	background: rgba(4,0,33, 0.36);
	border: 1px solid rgba(4,0,33, 0.2);
	text-shadow: 1px 1px 1px rgba(4,0,33, 0.2);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	color: #eaeaea;
	line-height: 0;
}

.updt > * {
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
	line-height: 8px;
	font-size: 16px;
	height: 8px;
}

.updt > .oi {
	margin-top:-4px;
}

.updt .bar {
	flex-grow: 1;
	border-radius: 2px;
	background: rgba(4,0,33, 0.36);
	height: 8px;
  	-ms-transform: skew(-15deg); 
  	transform: skew(-15deg); 
}

.updt .bar::before, .updt .bar::after,
.search-highlight, .search-highlight::before {
	content:"";
	display:block;
	position:absolute;
	height:100%;
	animation:grad 20s alternate linear infinite;
	background: linear-gradient(45deg, var(--color-one), var(--color-two), var(--color-three), var(--color-four), var(--color-three), var(--color-two), var(--color-one));
	background-size: 1000% auto;
}

.updt .bar::before, .updt .bar::after {
	width:60%;
}

.updt .bar::before, .search-highlight::before {
    z-index: -1;
    filter: blur(2px);
    left: -1px;
    top: -1px;
    bottom: -1px;
    padding: 1px;
    margin: -1px;
}

.menu, .pages, .highlight {
	position: relative;
	z-index: 0;
}

.menu a {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
	margin: 1px;
	border: 1px solid transparent;
	text-shadow: 1px 1px 1px rgba(4,0,33, 0);
	background: #0c0c0c;
	color: #aaaaaa;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	transition: 0.4s ease-in-out;
	position: relative;
}

.pages {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.pages a {
	width: 100%;
	display: block;
	box-sizing: border-box;
	background: #0c0c0c;
	color: #aaaaaa;
	border: 1px solid transparent;
	text-shadow: 1px 1px 1px rgba(4,0,33, 0);
	margin: 5px 0;
	padding: 3px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	transition: 0.4s ease-in-out;
	font: 10px/15px "Public Sans",sans-serif;
}

.menu a:hover, .pages a:hover {
	background: rgba(4,0,33, 0.36);
	border-color: rgba(4,0,33, 0.2);
	text-shadow: 1px 1px 1px rgba(4,0,33, 0.2);
	color: #eaeaea;
}

.gradient {
	z-index: -1;
	background:var(--alt-two);
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	animation:line 2s alternate linear infinite;
	border-radius: 100%;
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
}

.pages a::before, .menu a::before {
	z-index: -1;
	content: "";
	display: block;
	-webkit-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	animation:grad 20s alternate linear infinite;
	background: linear-gradient(45deg, var(--color-one), var(--color-two), var(--color-three), var(--color-four), var(--color-three), var(--color-two), var(--color-one));
	background-size: 1000% auto;
	border-radius: 30%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: -10px;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.pages a::before {
	margin: 0 10px;
}

.pages a:hover::before, .menu a:hover::before {
	opacity: 1;
}

.search-highlight::before {
	width: 100%;
	left: -2px;
}
 
::-webkit-input-placeholder {color:#aaaaaa;}
:-moz-placeholder {color:#aaaaaa; opacity:1;}
::-moz-placeholder {color:#aaaaaa; opacity:1;}
:-ms-input-placeholder {color:#aaaaaa;}

.highlight {
	padding:calc(var(--visible-width)/4);
	box-sizing:border-box;
	width:100%;
}

.tb {
    position:relative;
    overflow:hidden;
    width:100%;
    height:50px;
    margin:5px 0;
}

a.nav {
    position:absolute;
    display:flex;
    width:100%;
    z-index:9;
    left:0;
    right:0;
    text-align:center;
    height:100%;
    justify-content:center;
    align-items:center;
}

a.nav:hover {background:rgba(12,12,12,0.5);}

a.nav span {
	background:rgba(4,0,33, 0.36);
	border:1px solid rgba(4,0,33, 0.2);
	text-shadow:1px 1px 1px rgba(4,0,33, 0.2);
    display:inline-block;
    transition:0.3s ease-in-out;
    color:#eaeaea;
    font:10px/14px "Philosopher",serif;
    text-transform:lowercase;
    padding:3px 6px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

a.nav:hover span {
	background:rgba(191,12,67, 0.36);
	border:1px solid rgba(191,12,67, 0.2);
	text-shadow:1px 1px 1px rgba(191,12,67, 0.2);
}

#radio {
	position: absolute;
	bottom: var(--visible-width);
	left: -100px;
	width: 100px;
	margin-bottom: 90px;
}

#radio img {
	border-radius: 100%;
	width: 100px;
	height: 100px;
	display: block;
	margin-top:-1px;
}

#radio label, #radio a {
	width:100px;
	display:block;
	text-align:center;
	font-size:20px;
	border-radius:100%;
	cursor:pointer;
	transition:0.3s ease-in-out;
	color:#aaaaaa;
	position:relative;
    height:100px;
    line-height:0px;
    padding:3px 0;
    margin:3px 0 0;
}

#radio label, #radio a, #pagination a {
	box-shadow:0 0 0 0px rgba(0,0,0, 0.1);
	text-shadow:1px 1px 0px var(--color-one), -1px -1px 0px var(--color-four);
}

#radio label:last-child {
	margin:10px 0px 0px;
}

#radio label:last-child::before {
	content:"";
	position:absolute;
	width: 0;
	height: 0;
	border-style: none;
	border-width: 0px 0px 0px 0;
	border-color: transparent var(--color-one) transparent transparent;
	right: -20px;
}

#radio label:hover, #radio a:hover, #pagination a:hover {
	background:var(--alt-two);
	color:#eaeaea;
	box-shadow:0 0 0 3px rgba(26,26,26, 0.1);
}

@media screen and (max-width:960px){
    main {
        margin:60px auto;
        padding-left:calc(var(--total-width) + 90px);
    }
    
    #sidebar {
        margin-left:calc(-60px - var(--total-width));
    }
    
    .posts, footer {
        margin:30px 0;
    }
}

@media screen and (max-width:880px){
    main {
        padding-left:calc(var(--total-width) + 60px);
    }
    
    #sidebar {
        margin-bottom:60px;
    }
    
    #radio {
        left:30px;
        top:100%;
        width:auto;
        margin-top:-5px;
    }
    
    #radio label:last-child {
        margin-top:5px;
        margin-right:10px;
    }
    
    #radio label, #radio a {
        float:right;
        margin-right:5px;
    }
    
    #radio label:last-child::before {
        border-width:10px 10px 0 10px;
        border-color:var(--color-one) transparent transparent transparent;
        top:-17px;
        left:5px;
        right:auto;
    }
}

@media screen and (max-width:840px){
    :root {
    	--total-width: 450px;
    }
    
    #left2 {
        margin:5px 0;
        padding:0 5px;
        width:100%;
        height:10px;
    }
    
    #left {
        width:100%;
        height:10px;
    }
    
    main {
        padding-left:0;
    }
    
    #sidebar {
        position:relative;
        margin-top:0px;
        margin-left:calc(-2px - var(--visible-width));
    }
    
    .ia-container figcaption {
        padding:0 calc(2*var(--visible-width));
    }
}

@media screen and (max-width:640px){
    :root {
    	--total-width: calc(100vw - 75px);
    }
    
    main {
        width:auto;
        margin:30px;
}

@media screen and (max-width:420px){
    :root {
        --total-width: calc(100vw - 45px);
    }
    
    main {
        margin:30px 15px;
}
